@font-face {
	font-family: "Luckiest Guy";
	src: url("img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background: url('img/3. Background/Dark/1.png');
	backdrop-filter: blur(4px);
	font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
	font-size: 56px;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

canvas {
	border-radius: 10px;
	border: 15px solid rgba(255, 255, 255, 0.2);
	width: 720px;
	height: 480px;
}

img{
	width: 100%;
	height: auto;
}

#startBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	flex-direction: column;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	color: #ecf0f4;
	text-transform: uppercase;
	background: url('img/3. Background/Dark/1.png');
	z-index: 100;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 40px;
	margin-top: 60px;
}

button {
	background: none;
	cursor: pointer;
	border: none;
}

.soundBtn {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 50px;
	z-index: 400;
}

.startBtn {
	background-color: #7fffe0;
	color: #531a82;
	border: 8px solid #ecf0f4;
	border-radius: 10px;
	font-size: 40px;
	padding: 10px 40px;
	
}

#startBtn.displayNone {
	display: none;
}

.startBtn:hover {
	background-color: #1bf6bf;

}

.instructionWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	text-align: center;
	gap: 50px;
	font-size: 32px;
}

.leftSite .imgWrapper {
	width: 160px;
}

.rightSite .container {
	display: flex;
	gap: 50px; 
	align-items: center;
}

.rightSite .imgWrapper {
	width: 50px
}

.rightSite .container:last-child .imgWrapper {
	width: 200px;
}

.handyBtnArea {
	display: none;
}

.handyBtnArea div{
	border-radius: 20px;
	border: 8px solid rgba(255, 255, 255, 0.2);
	z-index: 100;
}

.slap {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.6);
	font-size: 6vh;
}

.go, .bubble {
	width: 50px
}

.bubble, .slap {
	height: 50px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
}

div.go {
	height: 80svh;
	height: 80vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: none;
}

.go div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.up, .down {
	height: 50px;
	background: rgba(255, 255, 255, 0.6);
}

.direction {
	flex: 1;
	background: rgba(255, 255, 255, 0.6);
}

.down {
	transform: rotate(180deg);
}

.right {
	transform: rotate(90deg);
}

.left {
	transform: rotate(270deg);
}

.portraitMessage{
	display: none;
}

#gameOver {
	display: none;
}

#gameOver img:first-child {
	margin-bottom: 50px;
}

#gameOver img:last-child {
	cursor: pointer;
}

#gameOver img:last-child:hover {
	filter: brightness(0.7);
}

#winning {
	display: none;
}

#gameOver.show, #winning.show {
	display: block;
	position: absolute;
	top: 10vh;
	left: 5%; 
	z-index: 300;
	width: 90%;
	aspect-ratio: 10/1;
}

body #winning.show {
	top: 35vh;
}

/* Smartphone */

@media only screen and (max-width: 720px) {
	canvas {
		width: 100%;
	}

	.instructionWrapper, h2, .notMobil {
		display: none;
	}

	.soundBtn {
		top: 5px;
		right: 5px;
	}

	.handyBtnArea {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100svh;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 10px;
	}

}
@media only screen and (max-height: 480px) {
	canvas {
		height: 100vh;
	}

	.instructionWrapper, h2, h1.notMobil {
		display: none;
	}

	.handyBtnArea {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100svh;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 10px;
	}
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
	.portraitMessage{
		z-index: 200;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		background-color: #7fffe0;
		color: #ecf0f4;
		font-size: 54px;
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	#gameOver.show, #winning.show {
		display: none;
	}
}
